<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lenovo.appbeta">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-->
    calls ".Extensions.FirebaseOfflineInitializer"
    to do offline initializer for Firebase-->

    <application

        android:name=".Extender.FirebaseOfflineInitializer"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:logo="@drawable/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- facebook -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider248789472189092"
            android:exported="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- facebook end -->


        <!-- "@string/app_name" -->
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Article"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".View.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity"/>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".View.ArticleFromFireDB"
            android:label="@string/title_activity_article_from_fire_db"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>